/* TODO: Make nav bar vertical */
@media screen and (max-width: 925px) {
	.nav-bar nav ul li {
		display: block;
		padding: 0px;
	}

	.nav-bar nav ul li:nth-child(1) {
		float: none;
		margin-top: 0px;
	}
	
	.nav-bar nav ul li:nth-child(2) {
		float: none;
	}

	.nav-bar .intro-wrapper {
		top: 320px;
		margin-left: -20px;
	}

	.nav-bar .intro-wrapper .img-wrapper {
		width: 100px;
		height: 100px;
		margin: 0 3% 10px;
	}

	.nav-bar .intro-wrapper h1 {
		font-size: 20px;
		width: 150px;
	}

	.intro-background-image {
		background-position: center -350px;
	}

	/*.nav-bar nav ul li {
		display: inline;
		float: none;
	}

	.nav-bar nav ul {
		text-align: left;
		margin-top: 15px;
		padding: 15px;
		display: block;
		list-style-type: none;
	}*/
}